<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quizz Website</title>
    
<style>
@media screen and (max-width: 500px) {
  .containers {
    height: 750px;
  } 
}
</style>
<div class="container-fluid containers">
  <% include ./partials/navbar %>
   <br>

 <% if(data['status']==true) { %>  

<div class="row">  
      <div class="col-12" style="text-align: center;"> 
          <marquee><span style="font-size: 2.5rem"> Please Select Quiz Subject ?</span></marquee>
      </div>  
</div>

<div class="row justify-content-center">
  <% for(var i=0; i< data['categories'].length ; i++) { %> 
     <div class="col-5" style="margin-top: 50px;">
      <a href="/getAllQuizesBYCategory/<%=data['categories'][i]['DISTINCT']%>/0" style="text-decoration:none">
        <div class="card border-primary mb-3 col">
            <div class="card-header">#<%=(i+1)%></div>
            <div class="card-body text-primary">
              <h5 class="card-title"><%=data['categories'][i]['DISTINCT']%></h5>  
              <p class="card-text">
                    Thought (also called thinking) is the mental process in which beings form
                     psychological associations and models of the world. Thinking is manipulating
                    information,
              </p>
            </div>
    </div>
     </a>
      </div>
      <% } %>
  </div>
 
<% } else { %>
  <div class="row" style="justify-content:center;padding-top: 150px;">
      <span style="font-size: 2rem"> Quizes Not Founded </span>
  </div>
<% }  %>
 <br><br>
 <% include ./partials/footer %>
</div>
