<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Quiz Website</title>
    
<style>
@media screen and (max-width: 500px) {
  .containers {
    height: 800px;
  } 
}
</style>
 </head>
 <body>
<div class="container-fluid containers">
        <% include ./partials/navbar %>
<br><br>
<div class="row">
<div class="col-12 text-center">
  <span style="font-size: 3rem;">Quiz Result</span>
</div>
</div>
<br><br>
<div class="row">
       <div class="col-sm-4 text-center">
           <div style="background-color:#007BFF;padding: 40px;" class="rounded">
                <span style="font-size: 1.5rem;">Persentage </span>
                <br>
                <span style="font-size: 1.5rem;"><%=data['output'].percentage%> %</span>
                <br>
           </div>
           <br>
           <div style="background-color:orange;padding: 40px;" class="rounded">
                <span style="font-size: 1.5rem;">Spent Time </span>
                <br>
                <span style="font-size: 1.5rem;"><%=data['output'].spentTime%> </span>
                <br>
           </div>
       </div>
       <div class="col-sm-4 text-center">
           <div class="rounded">
            <br>
              <% if (data['output'].percentage < 50) { %> 
                <i class="far fa-frown-open " style="font-size:6rem;color:red;"></i>
              <% } else { %>
                <i class="far fa-grin" style="font-size:6rem;color:green;"></i>
              <% } %>
            <br>  
           </div>
           <br>
           <div>
                <br>
                <% if (data['output'].percentage < 50) { %> 
                  <span style="font-size: 1.5rem;">
                        An unacceptable result needs to educate yourself more and permanently ...
                  </span>
                  <% } else { %>
                    <span style="font-size: 1.5rem;">
                            An acceptable result awesome for you ...
                    </span>
                    <% } %>
                 <br> <br>  
            </div>
       </div>
       <div class="col-sm-4 text-center">
            <div style="background-color: red;padding: 30px;" class="rounded">
                    <br>
                        <span style="font-size: 1.5rem;">Incorrect Answers </span>
                        <br>
                        <span style="font-size: 1.5rem;"><%=data['output'].incorrectedCount%></span>
                        <br>
             </div>
             <br>
             <div style="background-color: green;padding: 30px;" class="rounded">
                    <br>
                        <span style="font-size: 1.5rem;">Correct Answers </span>
                        <br>
                        <span style="font-size: 1.5rem;"><%=data['output'].correctedCount%></span>
                        <br>
             </div>
       </div>      
</div>
<br><br>
<% include ./partials/footer %>
</div>

</body>
</html>