<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
.answer{
    font-size: 1.2vw;
}
</style>
<div class="container-fluid">
        <% include ./partials/navbar %>
<br><br>
<div class="row">
<div class="col-12 text-center">
  <span style="font-size: 3.5vw;">Quiz Result</span>
</div>
</div>
<br><br>
<div class="row">
       <div class="col text-center">
           <div style="background-color: blue;padding: 40px;" class="rounded">
                <span style="font-size: 2vw;">persentage </span>
                <br>
                <span style="font-size: 2vw;"><%=data['output'].percentage%> %</span>
                <br>
           </div>
           <br>
           <div style="background-color:orange;padding: 40px;" class="rounded">
                <span style="font-size: 2vw;">spent Time </span>
                <br>
                <span style="font-size: 2vw;"><%=data['output'].spentTime%> </span>
                <br>
           </div>
       </div>
       <div class="col text-center">
           <div class="rounded">
            <br>
              <% if (data['output'].percentage < 50) { %> 
                <i class="far fa-frown-open " style="font-size:10vw;color:red;"></i>
              <% } else { %>
                <i class="far fa-grin" style="font-size:10vw;color:green;"></i>
              <% } %>
            <br>  
           </div>
           <br>
           <div>
                <br>
                <% if (data['output'].percentage < 50) { %> 
                  <span style="font-size: 2vw;">
                        An unacceptable result needs to educate yourself more and permanently ...
                  </span>
                  <% } else { %>
                    <span style="font-size: 2vw;">
                            An acceptable result awesome for you ...
                    </span>
                    <% } %>
                 <br>  
            </div>
       </div>
       <div class="col text-center">
            <div style="background-color: red;padding: 30px;" class="rounded">
                    <br>
                        <span style="font-size: 2vw;">incorrect Answer </span>
                        <br>
                        <span style="font-size: 2vw;"><%=data['output'].incorrectedCount%></span>
                        <br>
             </div>
             <br>
             <div style="background-color: green;padding: 30px;" class="rounded">
                    <br>
                        <span style="font-size: 2vw;">Correct Answers </span>
                        <br>
                        <span style="font-size: 2vw;"><%=data['output'].correctedCount%></span>
                        <br>
             </div>
       </div>      
</div>

</div>